<?xml version="1.0"?>
<!--
/**
 * Created by Swarming Technology, LLC.
 * Project: Kount
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Swarming_KountControl">
        <sequence>
            <module name="Swarming_Kount"/>
        </sequence>
    </module>
</config>
